{% extends "index.html" %}
{% block title %}SGC - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if valid %}
			<div class="panel panel-success">
      			<div class="panel-heading">
        			<h3 class="panel-title">Hecho!</h3>
      			</div>
      			<div class="panel-body">
        			El Usuario {{ user.username }} fue asignado al proyecto {{ project.name }}.
      			</div>
      		</div>
		{% else %}
			<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">Espera!</h3>
      			</div>
      			<div class="panel-body">
        			El Usuario {{ user.username }} no puede ser asignado al projecto {{ project.name }}.
      			</div>
      		</div>
		{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="{% url 'manage_project_users' id_project=project.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver </a>
</div>
{% endblock %}