{% extends "index.html" %}
{% block title %} SGC {% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h2>Crear Fase</h2>
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
            <button type="submit" class="btn btn-primary"> Finalizar </button>                                    
		</form>
		<br>
		<a class="btn btn-sm btn-default" href="{% url 'manage_project_phases' id_project=project.id%}"><span class="glyphicon glyphicon-ok"></span> Volver </a>
	</div>
</div>
{% endblock %}