{% extends "index.html" %}
{% block title %} SGC {% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h2>Administración de Proyectos y Fases</h2>
		<a class="btn btn-sm btn-default" href="{% url 'create_project' %}"><span class="glyphicon glyphicon-plus"></span> Crear Proyecto </a>
		<br><br>
		{% if projects %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre del Proyecto</th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for p in projects %}
	                			<tr>
	                    			<td>{{ p.id }}</td>
	                    			<td>{{ p.name }}</td>
	                    			<td><a class="btn btn-sm btn-default" href="{% url 'modify_project' id_project=p.id %}"><span class="#"></span> Modificar</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="{% url 'delete_project' id_project=p.id %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="{% url 'manage_project_phases' id_project=p.id %}"><span class="#"></span> Fases</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="{% url 'manage_project_users' id_project=p.id %}"><span class="#"></span> Usuarios</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="{% url 'manage_project_committee' id_project=p.id %}"><span class="#"></span> Comité</a></td>	                    			
	                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen proyectos</h3>
    	{% endif %}
	</div>
</div>
{% endblock %}