{% extends "index.html" %}
{% block title %}SGC - Proyecto {{ project.name }}{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Lista de usuarios del proyecto</small></h1>
		<br><br>
		{% if users %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Usuario</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for u in users %}
                			<tr>
                    			<td>{{ u.id }}</td>
                    			<td>{{ u.username }}</td>
                    			{% if u in project.committee.all %}
                    				<td><a class="btn btn-sm btn-default" href="{% url 'remove_committee_user' id_user=u.id id_project=project.id %}"><span class="glyphicon glyphicon-minus"></span> Quitar</a></td>
                    			{% else %}
                    				<td><a class="btn btn-sm btn-default" href="{% url 'assign_committee_user' id_user=u.id id_project=project.id %}"><span class="glyphicon glyphicon-plus"></span> Asignar</a></td>
                    			{% endif %}
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen usuarios asignados al proyecto.</h3>
    	{% endif %}
	</div>
	<br>
		<a class="btn btn-default" href="{% url 'list_projects' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</div>
{% endblock %}