{% extends "index.html" %}
{% block title %} SGC {% endblock %}
{% block content %}
<div class="jumbotron">
		<h2>Modificar fase</h2>
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
            <button class="btn btn-warning" type="submit" class="btn btn-primary">Modificar</button>
            <a class="btn btn-default" href="{% url 'manage_project_phases' id_project=project.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
		</form>
		<br>		
</div>
{% endblock %}