{% extends "index.html" %}
{% block title %}SGC - Modificar proyecto {{ project.name }}{% endblock %}
{% block content %}
<div class="jumbotron">
		<h2>Modificar proyecto</h2>
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
            <button type="submit" class="btn btn-primary">Modificar</button>
		</form>
		<br>
		<a class="btn btn-sm btn-default" href="{% url 'list_projects' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</div>
{% endblock %}