
{% block title %} SGC {% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<p><label><b>Nombre del proyecto: </b></label> {{ project.name }}</p>
		{% for p in phases %}
			<p>	<label><b>Nombre de la fase: </b></label> {{ p.name }}<br>
				<label><b>--- Items de la fase ---</b></label></p>
				
			{% for i in items %}
				{% if i.phase == p%}		
					<p>	<label><b>ID: </b></label> {{i.id}}<br>
						<label><b>Nombre: </b></label> {{i.name}}<br>
						<label><b>Costo: </b></label> {{i.cost}}<br>
						<label><b>Predecesor: </b></label> {{i.predecessor}}<br>
				{% endif %}
			{% endfor %}					
		{% endfor %}		
	</div>
</div>
{% endblock %}