{% extends "index.html" %}
{% block title %}SGC - Modificar Tipo de Atributo {{ attribute_type.name }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<h1><small>Modificar Tipo de Atributo</small></h1>
	<form class="form-horizontal" method="POST">
		{% csrf_token %}
		
		<!-- Manejo de errores del formulario -->
    	{% if form.errors %}
    	<div class="panel panel-warning">
    		<div class="panel-heading">
    			<h3 class="panel-title">¡Alto ahí!</h3>
            </div>
            <div class="panel-body">
            	<h3 class="panel-title">No has completado correctamente el formulario. Los campos afectados son:</h3>
            	<br>
            	<ul class="list-unstyled">
            		{% for field in form %}
            			{% if field.errors %} 
  							<li><b>{{ field.label }}</b></li>
  								{% for error in field.errors %}
    								<ul>
    									{% if error == "This field is required." %}
      										<li>No has ingresado este campo.</li>
      									{% else %}
      										<li>{{ error }}</li>
      									{% endif %}
    								</ul>
    							{% endfor %}
  							</li>s
  						{% endif %}
  					{% endfor %}
				</ul>
            </div>
        </div>
        {% endif %}
        <!-- Fin del manejo de errores del formulario -->
		
		<p class="text-muted">Campos obligatorios (*)</p>
		<div class="input-group">
			<span class="input-group-addon"><b>* Nombre</b></span>
			<input type="text" class="form-control" id="name" name="name" value="{{ attribute_type.name }}">
        </div>
        <br>
		<div class="input-group">
			<span class="input-group-addon"><b>* Descripcion</b></span>
			<input type="text" class="form-control" id="description" name="description" value="{{ attribute_type.description }}">
        </div>
		<br>
        <button type="submit" class="btn btn-success">Modificar</button>
	</form>
	<br>
	<a class="btn btn-default" href="{% url 'list_attribute_types' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</div>
{% endblock %}