{% extends "index.html" %}
{% block title %}SGC - Atributo {{ attribute.name }}{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Asignar tipo de atributos</small></h1>
		<br><br>
		{% if attribute.type == null %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre del Tipo de Atributo</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for attr in attribute_types %}
                			<tr>
                    			<td>{{ attr.id }}</td>
                    			<td>{{ attr.name }}</td>
                    				<td><a class="btn btn-sm btn-default" href="{% url 'grant_attribute_type' id_attribute=attribute.id id_attribute_type=attr.id %}"><span class="glyphicon glyphicon-plus"></span> Asignar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No posee tipo de atributos.</h3>
    	{% endif %}
	</div>
	<br>
		<a class="btn btn-default" href="{% url 'list_attributes' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</div>
{% endblock %}