{% extends "index.html" %}
{% block title %}SGC - Asignar Valor al Atributo{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h2>Asignar Valor al Atributo</h2>
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Asignar</button>
		</form>
		<br>
		<a class="btn btn-default" href="{% url 'list_attributes' id_item=item.id id_user=id_user id_project=id_project id_phase=id_phase %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</div>
</div>
{% endblock %}