{% extends "index.html" %}
{% block title %} Atributo {{ attribute.name }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h1>Detalles del Atributo</h1>
		<p><label><b>Nombre</b></label> {{ attribute.name }}</p>
		<p><label><b>Descripcion</b></label> {{ attribute.description }}</p> 
		{% if attribute.type.choice == 0 %}
			<p><label><b>Numero</b></label> {{ attribute.attr_int }}</p>
		{% elif attribute.type.choice == 1 %}
			<p><label><b>Cadena</b></label> {{ attribute.attr_str }}</p>
		{% elif attribute.type.choice == 2 %}
			<p><label><b>Booleano</b></label> {{ attribute.attr_bool }}</p>
		{% elif attribute.type.choice == 3 %}
			<p><label><b>Fecha</b></label> {{ attribute.attr_data }}</p>
		{% else %}
			<p><label><b>Ningun tipo.</b></label></p>
		{% endif %}
		<br>
		<a class="btn btn-sm btn-default" href="{% url 'list_attributes' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</div>
</div>
{% endblock %}