{% extends "base.html" %}
{% block title %}SGC - Gestión de roles{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Gestión de roles</small></h1>
		<a class="btn btn-sm btn-default" href="/adm/add_role/"><span class="glyphicon glyphicon-record"></span> Crear</a>
		<br><br>
		{% if roles %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre de rol</th>   
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for r in roles %}
                			<tr>
                    			<td>{{ r.id }}</td>
                    			<td>{{ r.name }}</td>
                    			<td><a class="btn btn-sm btn-default" href="/adm/mod_role/{{ r.id }}/"><span class="glyphicon glyphicon-edit"></span> Modificar</a></td>
                    			<td><a class="btn btn-sm btn-default" href="/adm/del_role/{{ r.id }}/"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></td>
                    			<td><a class="btn btn-sm btn-default" href="/adm/role_permission/{{ r.id }}/"><span class="glyphicon glyphicon-cog"></span> Permisos</a></td>
                    			<td><a class="btn btn-sm btn-default" href="/adm/visualize_role/{{ r.id }}/"><span class="glyphicon glyphicon-search"></span> Visualizar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen roles.</h3>
    	{% endif %}
	</div>
</div>
{% endblock %}