{% extends "base.html" %}
{% block title %}SGC - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<div class="panel panel-success">
      		<div class="panel-heading">
        		<h3 class="panel-title">¡Éxito!</h3>
      		</div>
      		<div class="panel-body">
        		El permiso {{ permission.name }} fue desasignado del rol {{ role.name }}.
      		</div>
      	</div>
		<br>
		<a class="btn btn-default" href="{% url 'role_permission' id_role=role.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de permisos del rol {{ role.name }}</a>
	</div>
</div>
{% endblock %}