{% extends "base.html" %}
{% block title %}SGC - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		{% if valid %}
			<div class="panel panel-success">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Éxito!</h3>
      			</div>
      			<div class="panel-body">
        			El permiso {{ permission.name }} fue asignado al rol {{ role.name }}.
      			</div>
      		</div>
		{% else %}
			<div class="panel panel-warning">
      			<div class="panel-heading">
        			<h3 class="panel-title">¡Alto ahí!</h3>
      			</div>
      			<div class="panel-body">
        			El permiso {{ permiso.nombre }} no puede ser asignado porque ya está asignado al rol {{ role.name }}.
      			</div>
      		</div>
		{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="{% url 'list_permission' id_role=role.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de permisos del rol {{ rol.nombre }}</a>
</div>
{% endblock %}