{% extends "base.html" %}
{% block title %}SGC - Gestión de usuarios{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1>Administración de usuarios</h1>
		<a class="btn btn-sm btn-default" href="{% url 'add_user' %}"><span class="#"></span>Agregar Usuario</a>
		<br><br>
		{% if users %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre de usuario</th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for u in users %}
                			{% if u.id != 1%}
	                			<tr>
	                    			<td>{{ u.id }}</td>
	                    			<td>{{ u.username }}</td>
	                    			<td>{{ u.email }}</td>
	                    			<td><a class="btn btn-sm btn-default" href="/adm/mod_user/{{ u.id }}"><span class="#"></span> Modificar</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="/adm/del_user/{{ u.id }}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="/adm/visualize_user/{{ u.id }}"><span class="glyphicon glyphicon-search"></span> Visualizar</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="/adm/user_role/{{ u.id }}"><span class="glyphicon glyphicon-search"></span> Roles</a></td>
	                			</tr>
	                		{% endif %}
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen usuarios</h3>
    	{% endif %}
	</div>
</div>
{% endblock %}