{% extends "base.html" %}
{% block title %}SGC - Agregar permisos{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Permisos</small></h1>
		{% if permission %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre del permiso</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for p in permission %}
                			<tr>
                    			<td>{{ p.id }}</td>
                    			<td>{{ p.name }}</td>
                    			<td><a class="btn btn-sm btn-default" href="/adm/grant_permission/{{ role.id }}/{{ p.id }}/"><span class="glyphicon glyphicon-plus"></span> Asignar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen permisos.</h3>
    	{% endif %}
	</div>
	<br>
	<a class="btn btn-default" href="{% url 'role_permission' id_role=role.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de permisos del rol {{ role.name }}</a>
</div>
{% endblock %}