{% extends "base.html" %}
{% block title %}SGC - Roles del usuario {{ user.username }}{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Roles del usuario {{ user.name }}</small></h1>
		<a class="btn btn-sm btn-default" href="{% url 'list_role' id_user=user.id %}"><span class="glyphicon glyphicon-plus"></span> Agregar</a>
		<br><br>
		{% if roles %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre del rol</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for r in roles %}
                			<tr>
                    			<td>{{ r.id }}</td>
                    			<td>{{ r.name }}</td>
                    			<td><a class="btn btn-sm btn-default" href="/adm/deny_role/{{ user.id }}/{{ r.id }}/"><span class="glyphicon glyphicon-minus"></span> Quitar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No posee roles.</h3>
    	{% endif %}
	</div>
	<br>
		<a class="btn btn-default" href="{% url 'list_users' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de usuarios</a>
</div>
{% endblock %}