{% extends "base.html" %}
{% block title %} Usuario {{ user.username }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h1>Detalles del usuario</h1>
		<p><label><b>Username:</b></label> {{ user.username }}</p>
		<p><label><b>Nombre:</b></label> {{ user.firstName }}</p>
		<p><label><b>Apellido:</b></label> {{ user.lastName}}</p>
		<p><label><b>Email:</b></label> {{ user.email }}</p>
		<p><label><b>Teléfono:</b></label> {{ user.phonenum }}</p>
		<p><label><b>Dirección:</b></label> {{ user.address }}</p>
		<p><label><b>Observación:</b></label> {{ user.observation }}</p>
		<br>
		<a class="btn btn-sm btn-default" href="{% url 'list_users' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de usuarios</a>
	</div>
</div>
{% endblock %}