{% extends "index.html" %} 
{% block title %}SGC - Administración de Ítems{% endblock %} 
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h2>Lista de Ítems predecesores.</h2>
		{% if valid %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre de Ítem</th>
						<th>Descripción</th>
						<th>Predecesor</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for i in prev_items %}
					<tr>
						<td>{{ i.id }}</td>
						<td>{{ i.name }}</td>
						<td>{{ i.description }}</td>
						<td>{{ i.predecessor.name }}</td>
						<td>
							<div class="btn-group">
								{% if item.predecessor == i %}
									<a class="btn btn-sm btn-danger" href="{% url 'unset_pending_predecessor' id_item=item.id %}"><span class="glyphicon glyphicon-ok-sign"></span> Quitar antecesor</a> 
								{% else %}
									<a class="btn btn-sm btn-default" href="{% url 'set_pending_predecessor' id_item=item.id id_pred=i.id %}"><span class="glyphicon glyphicon-ok-sign"></span> Asignar antecesor</a>
								{% endif %}
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		  <h3>Ésta es la primera fase. Los Ítems no requiren de un antecesor.</h3>
		{% endif %}
	</div>
	<a class="btn btn-default" href="{% url 'list_pending' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</div>
{% endblock %}
