{% extends "index.html" %}
{% block title %} SGC {% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h2>Fases</h2>
		<br><br>
		{% if phases %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre</th>
							<th></th>

                    	</tr>
                    </thead>
                	<tbody>
                		{% for p in phases %}
	                			<tr>
	                    			<td>{{ p.id }}</td>
	                    			<td>{{ p.name }}</a></td>
	                    			<td>
	                    				<div class="btn-group">
	                    					<a class="btn btn-sm btn-default" href="{% url 'list_items' id_user=user.id id_project=project.id id_phase=p.id %}"><span class="#"></span> Ítems</a>
	                    					<a class="btn btn-sm btn-default" href="{% url 'list_phase_baseline' id_user=user.id id_project=project.id id_phase=p.id %}"><span class="#"></span> Líneas bases</a>
	                    				</div>
                    				</td>
	                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen fases</h3>
    	{% endif %}
	</div>
	<a class="btn btn-default" href="{% url 'list_user_projects' id_user=user.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</div>
{% endblock %}