{% extends "index.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h2><br></h2>
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
        	<div class="form-group">
        		<label for="id_username" class="control-label col-xs-2">Username:</label>
            	<div class="col-xs-10">
            		<input id="id_username" name="username" type="text" class="form-control" placeholder="Nombre de usuario"/>
            	</div>
        	</div>
        	<div class="form-group">
        		<label for="id_password" class="control-label col-xs-2">Password:</label>
            	<div class="col-xs-10">
            		<input id="id_password" name="password" type="password" class="form-control" placeholder="Contraseña"/>
            	</div>
        	</div>
        	<div class="form-group">
            	<div class="col-xs-offset-2 col-xs-10">
                	<button type="submit" class="btn btn-primary">Enter</button>
            	</div>
        	</div>
    	</form>
	</div>
</div>
{% endblock %}