{% extends "index.html" %}
{% block title %}SGC - Ítem {{ item.name }}{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h2>Asignar Tipo de Ítem</h2>
		<br><br>
		{% if valid %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre del Tipo de Ítem</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for item_type in item_types %}
                			<tr>
                    			<td>{{ item_type.id }}</td>
                    			<td>{{ item_type.name }}</td>
                    				<td><a class="btn btn-sm btn-success" href="{% url 'add_item_type' id_item=item.id id_item_type=item_type.id id_project=id_project id_phase=id_phase %}"><span class="glyphicon glyphicon-ok"></span> Asignar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>Tipo de Ítem ya asignado o no existen Tipo de Ítems.</h3>
    	{% endif %}
	</div>
	<br>
		<a class="btn btn-default" href="{% url 'list_items' id_project=id_project id_phase=id_phase %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</div>
{% endblock %}