{% extends "index.html" %}
{% block title %}SGC - Item {{ item.name }}{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1><small>Asignar Tipo de Item</small></h1>
		<br><br>
		{% if item.type == null %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre del Tipo de Item</th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for item_type in item_types %}
                			<tr>
                    			<td>{{ item_type.id }}</td>
                    			<td>{{ item_type.name }}</td>
                    				<td><a class="btn btn-sm btn-default" href="{% url 'add_item_type' id_item=item.id id_item_type=item_type.id %}"><span class="glyphicon glyphicon-plus"></span> Asignar</a></td>
                			</tr>
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No posee tipo de tipo de items.</h3>
    	{% endif %}
	</div>
	<br>
		<a class="btn btn-default" href="{% url 'list_attributes' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</div>
{% endblock %}