{% extends "index.html" %} {% block title %}SGC - Administración de Items{% endblock %} {% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1>Administración Items</h1>
		<a class="btn btn-sm btn-default" href="{% url 'create_item' %}"><span
			class="glyphicon glyphicon-plus"></span>Crear Item</a> <br>
		<br> {% if items %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre Item</th>
						<th>Descripcion</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for i in items %}
					<tr>
						<td>{{ i.id }}</td>
						<td>{{ i.name }}</td>
						<td>{{ i.description }}</td>
						<td><a class="btn btn-sm btn-default"
							href="{% url 'modify_item' id_item=i.id %}"><span class="#"></span>
								Modificar</a></td>
						<td><a class="btn btn-sm btn-default"
							href="{% url 'delete_item' id_item=i.id %}"><span
								class="glyphicon glyphicon-trash"></span> Eliminar</a></td>
						<td><a class="btn btn-sm btn-default"
							href="#"><span
								class="glyphicon glyphicon-search"></span> Asignar Tipo</a></td>
						<td><a class="btn btn-sm btn-default"
							href="#"><span
								class="glyphicon glyphicon-search"></span> Visualizar</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		<h3>No existen Items</h3>
		{% endif %}
	</div>
</div>
{% endblock %}
