{% extends "index.html" %}
{% block title %}SGC - Modificar Ítem{% endblock %}
{% block content %}
{% load bootstrap %}
<div class="jumbotron">
	<div class="bs-example">
	<h2>Modificar Ítem</h2>
    	<form class="form-horizontal" method="POST">
    		{% csrf_token %}
			{{ form|bootstrap }}
      		<button type="submit" class="btn btn-success">Modificar</button>
      		<a class="btn btn-default" href="{% url 'list_items' id_project=id_project id_phase=id_phase %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
		</form>		
  	</div>
</div>
{% endblock %}