{% extends "index.html" %} {% block title %}Confirmacion{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Hecho!</h3>
			</div>
			<div class="panel-body">El Item {{ item.name }} fue revivido
				con exito.</div>
		</div>
	</div>
	<br> <a class="btn btn-default"
		href="{% url 'list_deleted_items' %}"><span
		class="glyphicon glyphicon-chevron-left"></span> Volver </a>
</div>
{% endblock %}
