{% extends "index.html" %}
{% block title %}Crear Usuario{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h1>Crear usuario</h1>
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
            <button type="submit" class="btn btn-primary">Crear</button>
		</form>
		<br>
		<a class="btn btn-sm btn-default" href="{% url 'list_users' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</div>
</div>
{% endblock %}