{% extends "index.html" %}
{% block title %}SGC{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h3>¿Desea eliminar el usuario: {{ user.username }}?</h3>
		<form action="" method="post">
			{% csrf_token %}
			<p class="text-warning"><small>Se borrarán los registros del usuario.</small></p>
			<br>
			<a type="button" class="btn btn-default" href="{% url 'list_users' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
        	<button type="submit" class="btn btn-danger"> Eliminar</button>
        </form>
	</div>
</div>
{% endblock %}