{% extends "index.html" %}
{% block title %}Mysite - Administración de usuarios{% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1>Administración de usuarios</h1>
		<a class="btn btn-sm btn-default" href="{% url 'add_user' %}"><span class="glyphicon glyphicon-plus"></span>Crear Usuario</a>
		<br><br>
		{% if users %}
			<div class="table-responsive"> 
        		<table class="table table-hover">
            		<thead>
                		<tr>
                    		<th>ID</th>
                    		<th>Nombre de usuario</th>
                    		<th>Email</th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    		<th></th>
                    	</tr>
                    </thead>
                	<tbody>
                		{% for u in users %}
                			{% if u.id != 1%}
	                			<tr>
	                    			<td>{{ u.id }}</td>
	                    			<td>{{ u.username }}</td>
	                    			<td>{{ u.email }}</td>
	                    			<td><a class="btn btn-sm btn-default" href="{% url 'modify_user' id_user=u.id %}"><span class="#"></span> Modificar</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="{% url 'delete_user' id_user=u.id %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="{% url 'visualize_user' id_user=u.id %}"><span class="glyphicon glyphicon-search"></span> Visualizar</a></td>
	                    			<td><a class="btn btn-sm btn-default" href="{% url 'assign_user_groups' id_user=u.id %}"><span class="glyphicon glyphicon-search"></span> Asignar Roles</a></td>
	                			</tr>
	                		{% endif %}
                		{% endfor %}
                	</tbody>
        		</table>
    		</div>
    	{% else %}
    		<h3>No existen usuarios</h3>
    	{% endif %}
	</div>
</div>
{% endblock %}