{% extends "index.html" %}
{% block title %} SGC {% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h2>Detalles del usuario</h2>
		<p><label><b>Username:</b></label> {{ user.username }}</p>
		<p><label><b>Nombre:</b></label> {{ user.first_name }}</p>
		<p><label><b>Apellido:</b></label> {{ user.last_name}}</p>
		<p><label><b>Email:</b></label> {{ user.email }}</p>
		<p><label><b>Teléfono:</b></label> {{ user.client.telephone }}</p>
		<p><label><b>Dirección:</b></label> {{ user.client.address }}</p>
		<p><label><b>Observación:</b></label> {{ user.client.observation }}</p>
		<br>
		<a class="btn btn-default" href="{% url 'list_users' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</div>
</div>
{% endblock %}