{% extends "index.html" %}
{% block title %}SGC - Crear Rol{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<h2>Crear rol</h2>
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
            <button type="submit" class="btn btn-success">Crear</button>
            <a class="btn btn-default" href="{% url 'list_groups' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
		</form>		
	</div>
</div>
{% endblock %}