{% extends "index.html" %}
{% block title %}SGC - Confirmación{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="bs-example">
		<div class="panel panel-success">
      		<div class="panel-heading">
        		<h3 class="panel-title">¡Éxito!</h3>
      		</div>
      		<div class="panel-body">
        		El Rol {{ group.name }} fue desasignado del usuario {{ user.username }}.
      		</div>
      	</div>
		<br>
		<a class="btn btn-default" href="{% url 'assign_user_groups' id_user=user.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la gestión de roles del usuario {{ user.username }}</a>
	</div>
</div>
{% endblock %}