{% extends "index.html" %} {% block title %}SGC - Administración de Tipo de Ítem{% endblock %} {% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h2>Administración de Tipo de Ítem</h2>
		<a class="btn btn-sm btn-success" href="{% url 'create_item_type' %}"><span class="glyphicon glyphicon-plus"></span> Crear Tipo de Ítem</a> <br>
		<br> 
		{% if item_ts %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre Tipo de Ítem</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for i in item_ts %}
							<tr>
								<td>{{ i.id }}</td>
								<td>{{ i.name }}</td>
								<td>
									<div class="btn-group">
										<a class="btn btn-sm btn-default" href="{% url 'assign_attribute_type' id_item_type=i.id %}"><span 	class="glyphicon glyphicon-th-list"></span> Asignar Tipo de Atributo</a>
										<a class="btn btn-sm btn-default" href="{% url 'visualize_item_type' id_item_type=i.id %}"><span class="glyphicon glyphicon-search"></span> Visualizar</a>
										<a class="btn btn-sm btn-warning" href="{% url 'modify_item_type' id_item_type=i.id %}"><span class="#"></span> Modificar</a>
										<a class="btn btn-sm btn-danger" href="{% url 'delete_item_type' id_item_type=i.id %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<h3>No existen Tipos de Item</h3>
		{% endif %}
	</div>
</div>
{% endblock %}
