{% extends "index.html" %} {% block title %}SGC - Administración de Tipo de Item{% endblock %} {% block content %}

<div class="jumbotron">
	<div class="bs-example">
		<h1>Administración de Tipo de Item</h1>
		<a class="btn btn-sm btn-default" href="{% url 'create_item_type' %}"><span
			class="glyphicon glyphicon-plus"></span> Crear Tipo de Item</a> <br>
		<br> {% if item_ts %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre Tipo de Item</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for i in item_ts %}
					<tr>
						<td>{{ i.id }}</td>
						<td>{{ i.name }}</td>
						<td><a class="btn btn-sm btn-default"
							href="{% url 'modify_item_type' id_item_type=i.id %}"><span class="#"></span>
								Modificar</a></td>
						<td><a class="btn btn-sm btn-default"
							href="{% url 'delete_item_type' id_item_type=i.id %}"><span
								class="glyphicon glyphicon-trash"></span> Eliminar</a></td>
						<td><a class="btn btn-sm btn-default"
							href="{% url 'assign_item_attribute' id_item_type=i.id %}"><span
								class="glyphicon glyphicon-search"></span> Asignar Tipo a Atributo</a></td>
						<td><a class="btn btn-sm btn-default"
							href="{% url 'visualize_item_type' id_item_type=i.id %}"><span
								class="glyphicon glyphicon-search"></span> Visualizar</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		<h3>No existen Tipos de Item</h3>
		{% endif %}
	</div>
</div>
{% endblock %}
